nav ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dropdown-basic-menu{
  background:white;
  width:100%;
  border:1px solid black;
}

body#terms-reference {
  background: none;
}

.dropdown-menu{
  background: #E7E6EA;
}

.dropdown-menu a:hover{
  background:white;
}

.sidebar-container{
  display: flex;
  position: -webkit-sticky; 
  position: "stikcy";
  margin-left: 0px;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  background-color: lightgray;
}

.sidebar {
  
  position: sticky;
  max-width: 240px;
  border: 1px;
  padding-top: 0px;
  margin-right: 20px;
}

.sidebar-link{
  padding: 10px;
}

.sidebar-nav-item:hoverable:selected{
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}